<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.nsms.mapper.StaffTimeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="staffTimeResultMap" type="org.springblade.nsms.entity.StaffTime">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="status" property="status"/>
        <result column="description" property="description"/>
        <result column="category" property="category"/>
        <result column="shift_date" property="shiftDate"/>
        <result column="nurse_sid" property="nurseSid"/>
        <result column="reference_sid" property="referenceSid"/>
        <result column="work_status" property="workStatus"/>
        <result column="post_type" property="postType"/>
    </resultMap>


    <select id="selectStaffTimePage" resultMap="staffTimeResultMap">
        select * from com_staff_time where is_deleted = 0
    </select>

    <update id="deleteSchedulingResultByTimeInterval">
        update com_staff_time
        set is_deleted=1
        where
            tenant_id=#{tenantId}
          and create_dept=#{deptId}
          and is_deleted=0
          and shift_date between #{start} and #{end}
    </update>
</mapper>
